.body{
    background-color: rgba(14,14,14,255);
}

#bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 600px;
}


.body{
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  color: white;
  background-color: rgba(14,14,14,255);
  font-family: Arial, Helvetica, sans-serif;
}





.Projects{

  background-color: rgb(27, 27, 27);
  width: 100%;
  margin-left: 0px;
}

  

.blocks{
  display: flex;
  padding-left: 25vh;
  padding-right: 25vh;
  height: 305px;
}

.box{
  width: 100%;
  height: 90%;
  border-style: solid;
  border-color:rgba(207,187,159,.1);
  border-width: .1px;
  padding: 48px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(24,23,22,255);
}


.container{
  width: 100%;
}

.navbar{
    background-color: rgba(24,23,22,.8);
    margin-bottom: auto;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    width: 490px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-style: solid;
    border-color:rgba(207,187,159,.1);
    border-radius: 300px;
    border-width:1px;
    
}

.dark-mode {
    background-color: rgba(14,14,14,255);
    color: white;
  }


.a{

    text-decoration: none;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(207,187,159);
    font-size: 18px;
    letter-spacing: 0.5px;
    font-size: 13px;
}

a:after{
    content: "";
    position: absolute;
    background-color: rgba(207,187,159,255);
    height: 1px;
    width: 0%;
    left: 0px;
    bottom: -3px;
    transition: 0.3s;
    
}

a:hover::after{
    width: 100%;
    
}

h1{
  margin: auto;
  padding-left: 400px;
  padding-right: 400px;
  display: block;
  text-align: center;
  color: rgba(207,187,159,255);
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-col{
    color: white;
}



/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 69px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }









@media only screen and (max-width: 414px){
    .text{
        visibility: collapse;
    }
}

.theme-switch{
    background-color: rgba(24,23,22,.8);
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0px;

    width: 73px;
    border-style: solid;
    border-color:rgba(207,187,159,.1);
    border-radius: 22px;
    border-width:1px;
}

.img{
    margin-top: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}





/* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.55rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #e9d0ad;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}


@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

