*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face{
  font-family: 'myfont';
  src: url("Fon") format('woff');
}

@font-face{
  font-family: "myfont_2";
  src: url("Fonts/Cursive.woff") format('woff');
}

@font-face{
  font-family: "myfont_3";
  src: url("Fonts/Weird.woff") format('woff');
}

@font-face {
  font-family: "myfont_4";
  src: url("Fonts/iXpaxEenVVRK6V44PcVbra2128.ttf");
}



body{
  background-color: rgba(14,14,14,255);
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


#bg{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 105vh;
}

.navbar{
  background: linear-gradient(135deg,  rgba(207,187,159,.1), rgba(255, 255, 255, 0));
  margin-bottom: auto;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 520px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  border-style: solid;
  border-color:rgba(207,187,159,.2);
  border-radius: 300px;
  border-width:1px;
  justify-content: center;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
}





.container2{
  display: flex;
  padding-left: 360px;
  padding-right: 360px;

}

.arr{
  position: relative;
  background: rgba(218, 197, 167, 0.15);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color:rgba(218, 197, 167, 0.05);
  transition: 0.4s ease;
  cursor: pointer;
}

.arr_text{
  height: 100px;
  width: 100px;
}


.box{
  width: 450px;
  height: 300px;
  border-style: solid;
  border-color:rgba(207,187,159,.2);
  border-width: .1px;
  padding: 48px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(24,23,22,255);
}


.proj_row1{
  display: flex;
  height: 305px;
  min-width: 100%;
  margin-bottom: 250px;
}

.proj_row2{
  display: flex;
  height: 305px;
}
.proj{
  height: 500px;
  width: 700px;
  margin-right: 15px;
  margin-left: 15px;
  border-style: solid;
  border-color:rgba(207,187,159,.1);
  border-width: .1px;
  position: relative;
  background-color: rgba(24,23,22,255);
}
.fill{
  display: flex;
  align-items: center;
  overflow: hidden;
}
#navi{
  bottom: 0px;
  width: 93%;
  height: 60px;
  position: absolute;
  border-style: solid;
  border-width: .1px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: linear-gradient(135deg,  rgba(207,187,159,.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border:1px solid rgba(207,187,159,.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 1px;
}



#info1{
  z-index: 10;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}



.blocks{
  display: flex;
  padding-left: 15vh;
  padding-right: 15vh;
  height: 305px;
  margin-bottom: 130px;
  margin-left: 45px;
  margin-right: 45px;


}

.a{

  text-decoration: none;
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(207,187,159);
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

a:after{
  content: "";
  position: absolute;
  background-color: rgba(207,187,159,255);
  height: 1px;
  width: 0%;
  left: 0px;
  bottom: -3px;
  transition: 0.3s;
  
}

a:hover::after{
  width: 100%;
  
}


.img{
  margin-top: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  margin-bottom: 60px;
}

.title{
  font-size: 140px;
  margin-bottom: -40px;
  text-align: center;
}

.title2{
  font-size: 130px;
  text-align: center;
}




section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1){
  color: #162d68;
}

section:nth-child(2){
  color: #1D212B;
  display:block;
  padding-top: 150px;
  background-color: rgba(30,30,30,255);
}

section:nth-child(3){
  background-color: rgba(15,15,15,255);
  color: #1D212B;
}

section:nth-child(4){
  color: #1D212B;
  background-color: rgba(15,15,15,255);
}

section .container{
  margin: 0;
  
}

section h1{
  font-size: 60px;
}

section h2{
  font-size: 40px;
  text-align: center;
}


section .cards{
  display: flex;
}

section .blocks{
  display: flex;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

section .cards .text-card{
  background: #2696E9;
  margin: 20px;
  padding: 20px;
}

section .container .blocks .box .number{
  color: rgba(207,187,159,0.7); 
  margin-bottom: 0;
}
section .container .blocks .box .heading{
  color: rgba(207,187,159);
  font-size: 26px;
  margin-bottom: 6px; 
  text-transform: uppercase;
  font-family: 'myfont';
}
section .container .blocks .box .text{
  color: rgba(207,187,159);  
  margin-bottom: 20px;
  font-family: 'myfont3';
  line-height: 30px;
  font-weight: 100px
  ;
}


section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width:  900px){
  section h1{
    font-size: 40px;
  }

  .title{
    font-size: 60px;
    margin-bottom: 50px;
  }
  .title2{
    font-size: 50px;
  }

  section .cards{
    flex-direction: column;
  }

  section .blocks{
    flex-direction: column;
  }

  section .blocks .box{
    margin-bottom: 20px;
  }
}