*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face{
  font-family: 'thin_font';
  src: url("Skinny.woff") format('woff');
}

@font-face{
  font-family: "thick_font";
  src: url("Cursive.woff2") format('woff2');
}

@font-face{
  font-family: "weird_font";
  src: url("Weird.woff") format('woff');
}

@font-face {
  font-family: "cursive_font";
  src: url("iXpaxEenVVRK6V44PcVbra2128.ttf");
}




body{
  margin: 0;
  background-color: rgba(14,14,14,255);
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}



/*Navigation Bar*/

.navbar{
  background: linear-gradient(135deg,  rgba(207,187,159,.1), rgba(255, 255, 255, 0));
  margin-bottom: auto;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 520px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  border-style: solid;
  border-color:rgba(207,187,159,.2);
  border-radius: 300px;
  border-width:1px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  left: 0;
  
  ul{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    display:flex;
    margin:0 auto;
    li{
      display:flex;
      a{
        text-decoration: none;
        position: relative;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(207,187,159);
        font-size: 18px;
        letter-spacing: 0.5px;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;


        &::after{
          content: "";
          position: absolute;
          background-color: rgba(207,187,159,255);
          height: 1px;
          width: 0%;
          left: 0px;
          bottom:.2px;
          transition: 0.3s;
        }
        &:hover::after{
          width: 100%;  
        }
      }
    }
  }
}



.active2{
  font-weight:900;
  transition: 1s;
  color: rgba(217,197,169,255);
}


/********/




/*Home Page*/
#bg{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 120vh;
  z-index: 1;
}


.container2{
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  left: 0px;
  padding-left: 70px;
  z-index: 1;
}


.title{
  font-size: 140px;
  margin-bottom: -40px;
  text-align: center;
  font-family: 'thin_font';
  color: rgb(207,187,159);   
  font-weight: 300; 
}

.title2{
  font-size: 130px;
  text-align: center;
  font-family: 'cursive_font';
  color: rgb(207,187,159);  
  font-weight:lighter; 
  font-style: italic;
}

.title_info{
  font-family: 'weird_font';
  font-weight: 10;
  font-size: 25px;
  margin-bottom: 50px;
  color: rgba(207,187,159,255);
}


.Home{
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 120vh;
}



.arr{
  position: relative;
  background-color: rgba(218, 197, 167, 0.05);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color:rgba(218, 197, 167, 0.15);
  transition: 0.4s ease;
  cursor: pointer;
}

.arr_text{
  font-size:13px;
  font-family: 'thin_font';
  width: 140px;
  height: 10px;
  margin-left: 6px;
  margin-top: 11px;
  color: rgba(218, 197, 167, 1);
  letter-spacing: 1px;
}


.container2:hover a .arr{
  background-color: rgba(218, 197, 167, 0.1);
  border-color:rgba(218, 197, 167, 0.3);

}

/********/



/*Knowledge Page*/

.box{
  width: 450px;
  height: 300px;
  border-style: solid;
  border-color:rgba(207,187,159,.2);
  border-width: .1px;
  padding: 48px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(24,23,22,255);
}

/********/




/* Projects Page*/

.top-row{
  display: flex;
}

.top-row h6{
  font-family: 'thin_font';
  letter-spacing: 1px;
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: 1;
}


.proj_row1{
  display: flex;
  height: 305px;
  min-width: 100%;
  margin-bottom: 250px;
}

.proj_row2{
  display: flex;
  height: 305px;
}
.proj{
  height: 500px;
  width: 700px;
  margin-right: 15px;
  margin-left: 15px;
  border-style: solid;
  border-color:rgba(207, 187, 159, 0.143);
  border-width: .1px;
  position: relative;
  background-color: rgba(24,23,22,255);
}


.fill{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.fill img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}



#navi{
  bottom: 0px;
  width: 93%;
  height: 58px;
  position: absolute;
  border-style: solid;
  border-width: .1px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: linear-gradient(135deg,  rgba(207,187,159,.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border:1px solid rgba(207,187,159,.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 2px;
  margin-bottom: 20px;
  z-index: 1;
}

/*******/




.contain{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}




.Jayden{
  width: 750px;
  height: 75%;
  border-style: solid;
  border-color:rgba(207,187,159,1);
  border-width: .1px;
  padding: 48px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(24,23,22,255);
}

.Dami{
  width: 750px;
  height: 75%;
  border-style: solid;
  border-color:rgba(207,187,159,1);
  border-width: .1px;
  padding: 48px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(24,23,22,255);
  justify-content: center;
  align-items: center;
  text-align: center;
  display:block;
}


.profile_picture{
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(218, 197, 167, 1);
}

.name{
  width: 100%;

  .top_name{
    font-family: 'thin_font';
    font-weight: 200;
    font-size: 70px;
    margin-bottom: -10px;

  }
  .bottom_name{
    font-family: 'cursive_font'; 
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
  }


  
}

.about{
  width: 100%;
  text-align: left;
  margin-bottom: 35px;

  .about_desc{
    font-family: 'weird_font';
  }
}




section .container h2{
  font-family: 'thin_font';
  font-size: 60px;
  font-weight: 1;
  margin-bottom: 10px;
  color: rgba(218, 197, 167, 1);

}





.blocks{
  display: flex;
  padding-left: 15vh;
  padding-right: 15vh;
  height: 305px;
  margin-bottom: 130px;
  margin-left: 45px;
  margin-right: 45px;


}



#info1 img{
  filter: url(#noiseFilter);
}



section{
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

section:nth-child(1){
  color: rgba(218, 197, 167, 1);
}

section:nth-child(2){
  color: #1D212B;
  display:block;
  padding-top: 150px;
  background-color: rgba(218,197,167,.05);
}

section:nth-child(3){
  background-color: rgba(15,15,15,255);
  color: rgba(218, 197, 167, 1);
  padding-top: 20vh;
  margin-bottom: -20vh;
}

section:nth-child(4){
  color: #1D212B;
  padding-top: 20vh;
  background-color: rgba(15,15,15,255);
}
section:nth-child(5){
  color: #1D212B;
  padding-top: 30vh;
  background-color: rgba(15,15,15,255);
}
section .container{
  margin: 0;
  
}

section h1{
  font-size: 60px;
}

section h2{
  font-size: 40px;
  text-align: center;
}


section .cards{
  display: flex;
}

section .blocks{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

section .cards .text-card{
  background: #2696E9;
  margin: 20px;
  padding: 20px;
}

section .container .blocks .box{
  text-align: left;
}

section .container .blocks .box .number{
  color: rgba(207,187,159,0.7); 
  margin-bottom: 0;
  font-size: 13px;
  font-family: 'thin_font';
}
section .container .blocks .box .heading{
  color: rgba(207,187,159);
  font-size: 26px;
  margin-bottom: 6px; 
  text-transform: uppercase;
  font-family: 'thin_font';
}
section .container .blocks .box .text{
  color: rgba(207,187,159);  
  margin-bottom: 20px;
  font-family: 'weird_font';
  line-height: 30px;
  margin-bottom: 30px;

}

section .container .blocks .box .box_button{
  height: 30px;
}

section .container .box_button:hover a .arr{
  background-color: rgba(218, 197, 167, 0.1);
  border-color:rgba(218, 197, 167, 0.3);
  rotate: 270deg;
}

section .container .blocks .arr_text ,
section .container .Dami .arr_text {

  margin-top: 7px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 300px;
  text-align: left;
}

section .container .blocks .arr,
section .container .Dami .arr {
height: 32px;
width: 32px;
rotate: 225deg;
transition: .5s ease;
}

  
  

section #navi .project_name{
  margin-top:auto;
  margin-bottom: auto; 
  font-size: 25px; 
  color:rgba(207,187,159,1); 
  margin-left: 14px; 
  margin-right: 460px;
  font-family: 'thin_font';
}

section #navi .project_about{
  margin-top: auto; 
  margin-bottom: auto;  
  font-size: 12px; 
  color:rgba(207,187,159,1); 
  text-transform: uppercase;
  font-family: 'thin_font';
  font-weight: 600;
  letter-spacing: 2.5px;
}

section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}




.Knowledge{
  display:block;
}

.menu {
  margin-top: -180px;
  margin-bottom: 250px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-20% + var(--offset));
	--move-final: calc(-29.9% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
  border-style: solid;
  border-top-width:1px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  border-color:rgba(207,187,159,0.2);
  padding-top: 20px;
  padding-bottom:20px;
  background-color: rgba(218,197,167,.05);
  z-index: 5;
  }

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee2 {
	top: 0;
	left: 0;
	width: 100vw;
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 1.5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.marquee2 .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee2 span {
  text-align: center;
  white-space: nowrap;
	font-size: 13px;
	padding: 0 1vw;
	font-weight: 100;
	line-height: 1.15;
  letter-spacing: 2px;
  font-family: 'thin_font';
  text-transform: uppercase;
  color: rgba(218, 197, 167, 1);

}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}







@media (max-width:  900px){
  section h1{
    font-size: 40px;
  }

  .title{
    font-size: 60px;
    margin-bottom: 50px;
  }
  .title2{
    font-size: 50px;
  }

  section .cards{
    flex-direction: column;
  }

  section .blocks{
    flex-direction: column;
  }

  section .blocks .box{
    margin-bottom: 20px;
  }
}

@media (max-width: 590px){
  section h1{
    font-size: 40px;
  }

  .title{
    font-size: 65px;
    margin-bottom: -10px;
  }
  .title2{
    font-size: 60px;
  }
  .title_info{
    font-size: 18px;
  }

  .Home{
    min-height: 100vh;
    overflow: hidden;

  }

  #bg{
    position: absolute;
    margin-top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 380px;
    z-index: 1;
  }

  section .cards{
    flex-direction: column;
  }

  section .blocks{
    flex-direction: column;
    margin-top: 800px;
  }

  section .blocks .box{
    margin-bottom: 20px;
  }
  
  section .Logo img{
    width: 300px;
  }

  
section .Jayden{
  width: 450px;
  height: 75%;

}

section .Dami{
  width: 450px;
  height: 75%;
  margin-bottom: 90px;
}


.name{
  width: 100%;
  .top_name{
    font-family: 'thin_font';
    font-weight: 200;
    font-size: 70px;
    margin-bottom: -10px;
  }
  .bottom_name{
    font-family: 'cursive_font'; 
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
  }
}

.about{
  width: 100%;
  text-align: left;
  margin-bottom: 35px;

  .about_desc{
    font-size: 10px;
    font-family: 'weird_font';
  }
}

section .contain{
  position: relative;
  flex-direction: column;
}

.navbar{
  background: linear-gradient(135deg,  rgba(207,187,159,.1), rgba(255, 255, 255, 0));
  margin-bottom: auto;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 420px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  border-style: solid;
  border-color:rgba(207,187,159,.2);
  border-radius: 300px;
  border-width:1px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  left: 0;
  
  ul{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    display:flex;
    margin:0 auto;
    li{
      display:flex;
      a{
        text-decoration: none;
        position: relative;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(207,187,159);
        font-size: 18px;
        letter-spacing: 0.5px;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;


        &::after{
          content: "";
          position: absolute;
          background-color: rgba(207,187,159,255);
          height: 1px;
          width: 0%;
          left: 0px;
          bottom:.2px;
          transition: 0.3s;
        }
        &:hover::after{
          width: 100%;  
        }
      }
    }
  }
}

}