nav{
    width: 10vh;
    height: 10vw;
    min-width: 517px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(24,23,22,.4);
    padding-top: 100px;

}
.navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px
}
.a{
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: rgba(207,187,159,255);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0px;
}

a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
    
}

a:hover::after{
    width: 100%;
    
}

@media only screen and (max-width: 414px){
    .text{
        visibility: collapse;
    }
}